/* Utility Styles */
.hidden {
	display: none !important;

	z-index: -99999 !important;
}


/* Horizontal Align Styles */
[h-align="l"] {
	text-align: left;
}

[h-align="c"] {
	text-align: center;
}

[h-align="r"] {
	text-align: right;
}


/* Vertical Align Styles */
[v-align="t"] {
	vertical-align: top;
}

[v-align="m"] {
	vertical-align: middle;
}

[v-align="b"] {
	vertical-align: bottom;
}

[v-align]:after {
	width: 0px;
	height: 100% !important;

	content: "";
}

[v-align="t"] > *,
[v-align="t"] > .OjComponent,
[v-align="t"]:after {
	vertical-align: top !important;
}

[v-align="m"] > *,
[v-align="m"] > .OjComponent,
[v-align="m"]:after {
	vertical-align: middle !important;
}

[v-align="b"] > *,
[v-align="b"] > .OjComponent,
[v-align="b"]:after {
	vertical-align: bottom !important;
}

[v-align] > span,
[v-align]:after {
	display: inline-block;
}


/* ClearFix For Modern Browsers */
.cf:BEFORE,
.cf:AFTER {
	content: "";
	display: table;
}

.cf:AFTER {
	clear: both;
}


/* ClearFix For IE 6/7 (trigger hasLayout) */
.cf {
	zoom: 1;
}


/* CSS Table Styles */
.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
}

/* misc helper styles */
.fill-horz {
	width: 100%;
}
.fill-vert {
	height: 100%;
}

/* OJ Styles */
.OJ.OjComponent,
.OJ > .container {
	display: block;

	width: 100%;
	height: 100%;

	z-index: 1;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}
	.OJ > .container {
		text-align: center;
	}

	.OJ > .renderer {
		position: absolute;

		top: -99999px;
		left: -99999px;

		width: 100%;
		height: 100%;
	}