
span, p {
	line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: normal;
}

h1 {
	margin: 40px 0px 10px;

	font-size: 24px;
}

h2 {
	margin: 30px 0px 10px;

	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

a, a:ACTIVE, a:VISITED, a:FOCUS {
	color: #1c74ac;
	outline: none;
	text-decoration: none;
}
a:HOVER {
	color: #1b5bbb;
	text-decoration: underline;
}

.normal,
.medium {
	font-family: Oswald-Light, Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.medium {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .bold, .bolder {
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.bolder {
	font-weight: bold;
}

/* Button Styles */
.OjButton,
.OjAlert > .pane > .buttons .OjButton {
	background: #033feb;
	background: -moz-linear-gradient(top,  #013DEB 0%, #1863E0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#013DEB), color-stop(100%,#1863E0));
	background: -webkit-linear-gradient(top,  #013DEB 0%,#1863E0 100%);
	background: -o-linear-gradient(top,  #013DEB 0%,#1863E0 100%);
	background: -ms-linear-gradient(top,  #013DEB 0%,#1863E0 100%);
	background: linear-gradient(to bottom,  #013DEB 0%,#1863E0 100%);

	border: 1px solid #323232;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 0px 0px 1px #FFF;
	-webkit-box-shadow: 0px 1px 1px #FFF;
	box-shadow: 0px 1px 1px #FFF;

	padding: 7px 20px;
}
.OjButton .label,
.OjAlert > .pane > .buttons .OjButton .label {
	padding-top: 2px;

	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
}

/* Input Styles */
.OjInput {
	height: 28px;

	margin-bottom: 5px;

	background: none;

	border: none;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}
.OjTextArea {
	height: 75px;
}

.OjInput > .wrapper {
	background: none;
	border: none;

	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}
.OjTextInput > .wrapper > * {
	height: 24px;
}

.OjInput > .wrapper > .label {
	padding: 0px 10px 0px 0px;

	color: #999;
	font-weight: normal;
	font-size: 16px;
}

.OjInput > .wrapper > .psuedoInput {
	padding: 0px;

	background: #FFF;

	border: 1px solid #333;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.OjInput > .wrapper > .psuedoInput > .stem {
	padding: 0px 5px;
}
.OjInput > .wrapper > .psuedoInput > .stem > .dflt {
	font-weight: normal;
}

.OjSelector {
	height: auto;

	border: none;
}
.OjSelector > .wrapper > .psuedoInput {
	background: none;
	border: none;
}
.OjSelector > .wrapper > .psuedoInput > .stem {
	padding: 0px;
}

/* Alert Styles */
.OjModal .OjView .OjOverlay {
	background: none;
}

.OjAlert > .pane {
	background: #EEF2F3;

	border: none;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	/*min-width: 350px;*/
}
.NwActionCard > .pane {
	min-width: 100px;
}
.is-mobile .OjModal > .pane {
	width: 100% !important;
	height: 100% !important;
}
.OjAlert > .pane > .bar,
.OjModal > .pane > .bar .title > .OjLabel {
	color: #FFF;
	font-size: 18px;
	font-family: Oswald-Light, Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	white-space: nowrap;
}
.OjAlert > .pane > .bar {
	height: auto;

	margin: 0px;
	padding: 5px 0px;

	background: #1894b6;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.OjModal > .pane > .bar .title > .OjLabel {
	height: 28px;
}

.OjAlert > .pane > .content > .container {
	color: #333;
	text-shadow: none;
	text-align: center;
}
.is-mobile .OjModal > .pane > .content {
	padding: 0px 10px 10px;
}
.NwActionCard > .pane > * {
	text-align: center;
}

.OjModal > .pane > .bar {
	height: 40px;

	margin: 0px;
	padding: 0px;

	background: none;

	overflow: hidden;
}
.is-mobile .OjModal > .pane > .bar {
	background: #1894b6;
}

/* Nav Controller CSS */
.OjNavController .back-button,
.is-mobile .OjNavController .cancel-button {
	background: none;

	border: none;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.is-mobile .OjNavController .cancel-button > .label {
	font-size: 24px;
}

.OjNavController .back-button {
	width: 53px;
	height: 18px;

	margin: 0px;
	padding: 0px;

	background: transparent url(/theca/assets/sprite@hd.png) no-repeat -185px -50px;

	-webkit-background-size: 350px 550px;
	-moz-background-size: 350px 550px;
	background-size: 350px 550px;
}
.is-mobile .OjNavController .back-button {
	width: 1px;
	height: 0px;

	background: none;

	border: 11px solid transparent;
	border-right: 20px solid #FFF;
}

.is-mobile .OjNavController .topTitle,
.is-mobile .OjNavController .btmTitle {
	display: none;
}

/* OjList */
.OjList > .items {
	background: #F7F7F7;

	border: 1px solid #BBBBBB;
	border-top-color: #AAAAAA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow:    0px 1px 0px 0px #FFFFFF;
	-webkit-box-shadow: 0px 1px 0px 0px #FFFFFF;
	box-shadow:         0px 1px 0px 0px #FFFFFF;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}