/* Utility Styles */
.hidden {
	display: none !important;

	z-index: -99999 !important;
}


/* Horizontal Align Styles */
[h-align="l"] {
	text-align: left;
}

[h-align="c"] {
	text-align: center;
}

[h-align="r"] {
	text-align: right;
}


/* Vertical Align Styles */
[v-align="t"] {
	vertical-align: top;
}

[v-align="m"] {
	vertical-align: middle;
}

[v-align="b"] {
	vertical-align: bottom;
}

[v-align]:after {
	width: 0px;
	height: 100% !important;

	content: "";
}

[v-align="t"] > *,
[v-align="t"] > .OjComponent,
[v-align="t"]:after {
	vertical-align: top !important;
}

[v-align="m"] > *,
[v-align="m"] > .OjComponent,
[v-align="m"]:after {
	vertical-align: middle !important;
}

[v-align="b"] > *,
[v-align="b"] > .OjComponent,
[v-align="b"]:after {
	vertical-align: bottom !important;
}

[v-align] > span,
[v-align]:after {
	display: inline-block;
}


/* ClearFix For Modern Browsers */
.cf:BEFORE,
.cf:AFTER {
	content: "";
	display: table;
}

.cf:AFTER {
	clear: both;
}


/* ClearFix For IE 6/7 (trigger hasLayout) */
.cf {
	zoom: 1;
}


/* CSS Table Styles */
.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
}

/* misc helper styles */
.fill-horz {
	width: 100%;
}
.fill-vert {
	height: 100%;
}

/* OJ Styles */
.OJ.OjComponent,
.OJ > .container {
	display: block;

	width: 100%;
	height: 100%;

	z-index: 1;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
	.OJ > .container {
		text-align: center;
	}

	.OJ > .renderer {
		position: absolute;

		top: -99999px;
		left: -99999px;

		width: 100%;
		height: 100%;
	}.OjSubmitButton {

}
    .OjSubmitButton > [var~="input"] {
        display: none;
    }.OjNav {
    display: block;
}

    .OjNav > .items{
        z-index: 3;
    }

    .OjNav > .items > * {
        display: block;
        float: left;

        margin: 0px 0px 0px 5px;
    }
    .OjNav.horizontal > .items > *.first {
        margin-left: 0px;
    }
    .OjNav.vertical > .items > * {
        clear: both;
        margin: 5px 0px 0px;
    }
    .OjNav.vertical > .items > *.first {
        margin-top: 0px;
    }

    .OjNav .active-bg{
        background: #CCCCCC;
        width: 160px;
        height: 45px;
        position: absolute;
        z-index: 1;
    }

.OjTable{
    margin: 0px;
    padding: 0px;

    border-collapse: separate;
    border-spacing: 0;

    vertical-align: middle;
}
    .OjTable > thead,
    .OjTable > tbody,
    .OjTable > tfoot {
        margin: 0px;
        padding: 0px;
    }
        .OjTable > thead > tr {
            background: #FFFFFF;
        }
            .OjTable > thead > tr > td {
                padding: 10px 20px;

                background: #AAAAAA;

                border-left: 1px solid #FFFFFF;
                border-top: 1px solid #999999;

                color: #FFFFFF;
                font-size: 14px;
                font-weight: bold;
                text-align: left;
            }

        .OjTable > tbody > tr > td {
            padding: 10px;

            background: none repeat scroll 0 0 transparent;

            border-top: 1px solid #E5E5E5;
            border-left: solid 1px #FFFFFF;

            font-weight: normal;
            text-align: left;

            vertical-align: middle;

        }
        .OjTable > tbody > tr.odd > td {
            background: #F5F5F5;
        }
        .OjTable > tbody > tr.even > td {
            background-color: #FFFFFF;
        }
        .OjTable > tbody > tr.even.first > td {
            border-top-color: #999999;
        }

        .OjTable > * > tr > td:first-child{
            border-left: none;
        }

        .OjTable .even.highlight{
            background: #e9f2f9;
        }
        .OjTable .odd.highlight {
            background: #b2d1e5;
        }