.OjIcon, .OjMedia {
    box-sizing: content-box;
}

.OjMedia {
    display: inline-block;

    text-align: center;

    vertical-align: middle;

    overflow: hidden;
}
/* prevents height rendering issue */
.OjMedia.is-loaded[v-align]:after {
    display: none;
}
    .OjMedia .OjSpinner {
        position: absolute;

        top: 50%;
        left: 50%;

        margin: -15px 0px 0px -15px;
    }
    .OjMedia .media {
        display: inline-block;
        border: none;
    }

.OjImage {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
}
.OjImage.fill {
    background-size: cover;
}
.OjImage.fit {
    background-size: contain;
}
.OjImage.hFill {
    background-size: auto 100%;
}
.OjImage.wFill {
    background-size: 100% auto;
}

/* left alignments */
.OjImage[h-align="l"][v-align="m"] {
    background-position: left center;
}
.OjImage[h-align="l"][v-align="b"] {
    background-position: left bottom;
}

/* center alignments */
.OjImage[h-align="c"][v-align="t"] {
    background-position: center top;
}
.OjImage[h-align="c"][v-align="m"] {
    background-position: center center;
}
.OjImage[h-align="c"][v-align="b"] {
    background-position: center bottom;
}

/*right alignments */
.OjImage[h-align="r"][v-align="t"] {
    background-position: right top;
}
.OjImage[h-align="r"][v-align="m"] {
    background-position: right center;
}
.OjImage[h-align="r"][v-align="b"] {
    background-position: right bottom;
}



.OjImage[h-align="c"] > .media {
    margin: 0px auto;
}

.arrow-up, .OjImage > .media.arrow-up,
.arrow-left, .OjImage > .media.arrow-left,
.arrow-down, .OjImage > .media.arrow-down,
.arrow-right, .OjImage > .media.arrow-right {
    display: inline-block;

    transform:rotate(45deg);
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    -o-transform:rotate(45deg); /* Opera */
    -ms-transform:rotate(45deg); /* IE 9 */
}
.arrow-left, .OjImage > .media.arrow-left {
    transform:rotate(315deg);
    -moz-transform:rotate(315deg); /* Firefox */
    -webkit-transform:rotate(315deg); /* Safari and Chrome */
    -o-transform:rotate(315deg); /* Opera */
    -ms-transform:rotate(315deg); /* IE 9 */
}
.arrow-bottom, .OjImage > .media.arrow-bottom {
    transform:rotate(225deg);
    -moz-transform:rotate(225deg); /* Firefox */
    -webkit-transform:rotate(225deg); /* Safari and Chrome */
    -o-transform:rotate(225deg); /* Opera */
    -ms-transform:rotate(225deg); /* IE 9 */
}
.arrow-right, .OjImage > .media.arrow-right {
    transform:rotate(135deg);
    -moz-transform:rotate(135deg); /* Firefox */
    -webkit-transform:rotate(135deg); /* Safari and Chrome */
    -o-transform:rotate(135deg); /* Opera */
    -ms-transform:rotate(135deg); /* IE 9 */
}

.arrow-up, .OjImage > .media.arrow-up,
.arrow-left, .OjImage > .media.arrow-left,
.arrow-down, .OjImage > .media.arrow-down,
.arrow-right, .OjImage > .media.arrow-right {
    width: 7px;
    height: 7px;

    border-top: 3px solid #777777;
    border-left: 3px solid #777777;
}