.OjLabel {
	line-height: normal;

	text-overflow: ellipsis;
	overflow: hidden;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}