.OjLink {
	cursor: pointer;

	overflow: hidden;
	text-overflow: ellipsis;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}
	.OjLink > .label {
		display: inline-block;
	}

	.OjLink > .icon {
		display: inline-block;

		vertical-align: middle;
	}