.OjLink {
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}
.OjLink.ui-down {
    opacity: 0.75;
}
.OjLink.active.ui-down {
    opacity: 1.0;
}
    .OjLink > .icn {
        padding-right: 5px;

        flex-shrink: 0;
        -webkit-flex-shrink: 0;
    }
    .OjLink.no-icon > .icn {
        display: none;
    }
    .OjLink.no-label > .icn {
        padding-right: 0px;
    }
    .OjLink.no-label > .lbl {
        display: none;
    }