.WindowManager {
    position: fixed;

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    overflow: hidden;

    z-index: 9999;
}
/* this is a hack for ios */
.is-ios .WindowManager.active {
    position: absolute;
}

.OjAlert {
	position: absolute;

	top: 0px;
	left: 0px;

	max-width: 100%;
    min-width: 100%;

    max-height: 100%;
    min-height: 100%;

	margin: 0px;
	padding: 0px;

	background: none;

	overflow: auto;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}
	.OjAlert > .underlay {
		 position: fixed;

		 top: 0px;
		 left: 0px;
         bottom: 0px;
         right: 0px;

		 margin: 0px;
		 padding: 0px;

		 background: rgba(0, 0, 0, 0.3);

		 z-index: 1;
	 }

	.OjAlert > .pane {
		max-width: 100%;
        max-height: 100%;

		background: #0b1b44;
		border: none;

		z-index: 5;
	}
		.OjAlert > .pane > .bar {
			height: 3px;
			padding: 15px 10px 10px;

			background: #858b9d; /* Old browsers */

			color: #FFFFFF;
			font-size: 18px;
			font-weight: bold;
			text-align: center;

			overflow: visible;
		}
		.OjAlert > .pane > .content {
			display: block;

			padding: 20px 10px 10px;

			color: #FFFFFF;
			font-size: 16px;
			text-align: center;
		}
		.OjAlert.no-buttons > .pane > .content {
			padding-bottom: 10px;
		}
            .OjAlert > .pane > .content > .OjLabel {
                text-align: center;
            }

		.OjAlert > .pane > .buttons {
			padding: 10px 0px 20px;

			text-align: center;
		}
			.OjAlert > .pane > .buttons > * {
				margin: 0px 5px;
			}
				.OjAlert > .pane > .buttons .OjButton {
					height: 23px;

					padding: 2px 10px;

					background: #ADB2B8; /* Old browsers */

					border: 1px solid #4C4E50;

					-moz-box-shadow:    0px 1px 0px 0px #DDDDDD;
					-webkit-box-shadow: 0px 1px 0px 0px #DDDDDD;
					box-shadow:         0px 1px 0px 0px #DDDDDD;

					font-size: 0px;
					line-height: 0px;
					text-decoration: none;
					text-align: center;
				}