


.OjView > .OjNavStack {
    position: absolute;

    top: 60px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}


.OjModal {
    -webkit-align-content: center;
    align-content: center;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}
    .OjModal > .pane {
        min-width: 300px;
        min-height: 100px;
        max-width: 100%;
        max-height: 100%;

        background: #EEE;

        border: none;
    }
    .OjModal.fullscreen:not(.animating) > .pane {
        position: absolute !important;

        top: 0px !important;
        left: 0px !important;
        right: 0px !important;
        bottom: 0px !important;

        width: 100% !important;
        height: 100% !important;
    }
        .OjModal > .pane > .bar {
            position: absolute;

            top: 0px;
            left: 0px;
            right: 0px;

            height: 40px;

            margin: 0px;
            padding: 0px;

            background: #BBBBBB; /* Old browsers */

            border: none;
            border-bottom: 1px solid #9A9A9A;

            text-align: center;

            overflow: hidden;
        }
        .OjModal.fullscreen > .pane > .bar {
            height: var(--top-nav);
        }
            .OjModal.fullscreen > .pane > .bar .bottom_bar,
            .OjModal.fullscreen > .pane > .bar .top_bar {
                top: var(--top-inset);
            }

            .OjModal > .pane > .bar .title {
                color: #444444;
                font-size: 20px;
                font-weight: bold;
                text-shadow: 1px 1px 1px #DDDDDD;
                text-align: center;
            }
            .OjModal.fullscreen > .pane > .bar .title {
                font-size: 24px;

                padding-bottom: 15px;
            }
            .is-mobile .OjModal.fullscreen > .pane > .bar .title {
                padding-bottom: 0px;
            }

        .OjModal > .pane > .content {
            position: absolute;

            top: 41px;
            left: 0px;
            right: 0px;
            bottom: 40px;

            margin: 0px;
            padding: 0px;

            background: none;

            border: none;

            text-shadow: none;

            overflow: hidden;
        }
        .OjModal.fullscreen > .pane > .content {
            top: calc(var(--top-nav) + 1px);
        }
        .OjModal.no-buttons > .pane > .content {
            bottom: 0px;
        }
            .OjModal > .pane > .content > .OjView {
                max-width: 100%;
                max-height: 100%;

                -ms-overflow-style: none;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
        .is-mobile .OjModal.browser > .pane > .content,
        .is-tablet .OjModal.browser > .pane > .content {
            overflow: auto;
            padding: 0px;

            -webkit-overflow-scrolling: touch;
        }
            .is-mobile .OjModal.browser > .pane > .content > iframe {
                width: 100px;

                min-width: 100%;
                min-height: 100%;

                max-width: 100%;
                max-height: 100%;

                overflow: visible;
            }


        .OjModal > .pane > .buttons {
            position: absolute;

            bottom: 40px;
            left: 0px;
            right: 0px;

            height: 40px;

            text-align: center;
        }
        .OjModal.no-buttons > .pane > .buttons {
            display: none;
        }
            .OjModal > .window > .pane > .buttons > * {
                margin: 0px 50px;
            }