.OjModal {}
	.OjModal > .pane {
		max-width: 90% !important;
		max-height: 90% !important;

		background: #EEE;

		border: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
		.OjModal > .pane > .bar {
			position: absolute;

			top: 0px;
			left: 0px;
			right: 0px;

			height: 40px;

			margin: 0px;
			padding: 0px;

			background: #BBBBBB; /* Old browsers */
			background: -moz-linear-gradient(top,  #FFFFFF 0%, #EEEEEE 2%, #BBBBBB 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(2%, #EEEEEE), color-stop(100%, #BBBBBB)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #FFFFFF 0%, #EEEEEE 2%, #BBBBBB 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #FFFFFF 0%, #EEEEEE 2%, #BBBBBB 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #FFFFFF 0%, #EEEEEE 2%, #BBBBBB 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #FFFFFF 0%, #EEEEEE 2%, #BBBBBB 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BBBBBB', GradientType=0); /* IE6-9 */

			border: none;
			border-bottom: 1px solid #9A9A9A;
			-webkit-border-top-right-radius: 5px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-right-radius: 0px;
			-webkit-border-bottom-left-radius: 0px;
			-moz-border-radius-topright: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-bottomright: 0px;
			-moz-border-radius-bottomleft: 0px;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;

			text-align: center;
		}
			.OjModal > .pane > .bar .title {
				color: #444444;
				font-size: 20px;
				font-weight: bold;
				text-shadow: 1px 1px 1px #DDDDDD;
				text-align: center;
			}

		.OjModal > .pane > .content {
			position: absolute;

			top: 40px;
			left: 0px;
			right: 0px;
			bottom: 40px;

			margin: 0px;
			padding: 0px;

			background: none;

			border: none;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		.OjModal.no-buttons > .pane > .content {
			bottom: 0px;

			padding: 0px;
		}
			.OjModal > .pane > .content > .stack {
				width: 100%;
				height: 100%;

				min-width: 200px;
				min-height: 100px;

				color: #333;
				font-size: 14px;
				text-align: left;
				text-shadow: none;

				border: none;
				-webkit-border-bottom-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-moz-border-radius-bottomright: 5px;
				-moz-border-radius-bottomleft: 5px;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}

		.OjModal > .pane > .buttons {
			position: absolute;

			bottom: 40px;
			left: 0px;
			right: 0px;

			height: 40px;

			text-align: center;
		}
		.OjModal.no-buttons > .pane > .buttons {
			display: none;
		}
			.OjModal > .window > .pane > .buttons > * {
				margin: 0px 50px;
			}

/* Modal Form Customization */
.OjModal .OjComponent .container {
	max-height: 400px;
	overflow: auto;
}
.OjModal .OjForm .OjStack.container {
	max-height: none;
	overflow: auto;
}
	.OjModal .OjForm .OjStack.container > .container > .active {
		max-height: 400px;
		overflow: auto;
	}