.OjOption {
	padding: 0px 0px 5px;

	cursor: pointer;
}
	.OjOption .indicator {
		display: block;
		position: absolute;

		height: 0px;

		left: -50px;

		overflow: hidden;
	}
	.OjCheckedOption .indicator,
	.OjRadioOption .indicator {
		display: inline-block;

		position: relative;

		height: auto;

		left: auto;

		margin-right: 5px;

		overflow:visible;
	}

	.OjOption .OjItemRenderer {
		display: block;
	}
	.OjCheckedOption .OjItemRenderer,
	.OjRadioOption .OjItemRenderer {
		display: inline-block;
	}
		.OjOption .OjItemRenderer .OjItemRenderer {
			padding: 0px;

			border: none;
		}