.OjNavController {
    height: 50px;

    background: #171717;

    text-align: center;
}
    .OjNavController .OjButton {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-align-items: center;
        align-items: center;

        margin: 2px 0px;
        padding: 0px;

        background: #5d5d5d;

        border-color: #343434;

        vertical-align: middle;
    }

.OjTabNavController {
    flex-wrap: nowrap;
}
    .OjTabNavController > .OjButton {
        width: 100%;
        height: 46px;

        padding: 0px 20px;

        background: none;
        border: none;

        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;

        text-align: center;

        flex-grow: 1;
        flex-shrink: 1;
    }
    .OjTabNavController > .OjButton.active {
        background: rgba(255, 255, 255, 0.15);
    }

        .OjTabNavController > .OjButton > .icn {
            width: 30px;
            height: 30px;

            margin: 0px;
            padding: 0px 0px 1px;

            font-size: 30px;
        }
            .OjTabNavController > .OjButton > .icn > * {
                display: block;
            }

        .OjTabNavController > .OjButton > .lbl {
            display: block;

            margin: 0px;
            padding: 0px;

            color: #A8A8A8;
            font-size: 10px;
            font-weight: normal;
            text-align: center;
        }
        .OjTabNavController > .OjButton.active > .lbl {
            color: #FFF;
        }