.OjForm {
    display: block;

    min-width: 300px;
    max-width: 960px;

    marign: 0px;
    padding: 0px;
}
	.OjForm > .errors {
		margin-bottom: 10px;

		padding: 10px;

		background-color: #FEF5F1;

		border: 1px solid #ED541D;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;

		color: #CC0000;
	}
		.OjForm > .errors > .items > .item {
			margin-top: 5px;
		}
		.OjForm > .errors > .items > .item.first {
			margin-top: 0px;
		}

	.OjForm > .container {
		z-index: 1;
	}

    .OjForm > .actions {
        margin-top: 20px;

		z-index: 3;
    }
        .OjForm > .actions > .cancel-button {
            float: left;
        }

        .OjForm > .actions > .submit-button {
            float: right;
        }

.OjFormError {}
	.OjFormError > .input {
		font-size: 14px;
		font-weight: bold;
	}
	.OjFormError > .errors {
		font-size: 12px;
		font-style: italic;
	}