.OjSwitch {
	height: 30px;
	background: none;
	border: none;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}
	.OjSwitch > .wrapper {
		background: none;
		border: none;

		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;

		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
	}
		.OjSwitch > .wrapper > .psuedoInput {
			border: 1px solid #bfbfbf;

			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;

			background: #007fea;

			-moz-box-shadow:    inset 0px 2px 10px -3px #000;
			-webkit-box-shadow: inset 0px 2px 10px -3px #000;
			box-shadow:         inset 0px 2px 10px -3px #000;
		}
			.OjSwitch > .wrapper > .psuedoInput .slider {
				display: block;
				position: absolute;
				top: 0px;
				left: 0px;

				width: 100%;
				height: 100%;

				overflow: hidden;
			}
				.OjSwitch > .wrapper > .psuedoInput .slider .prefix {
					display: inline-block;

					width: 50%;
					height: 100%;
				}
				.OjSwitch > .wrapper > .psuedoInput .slider .stem {
					position: absolute;

					display: block;

					left: 50%;
					top: 0px;

					width: 26px;
					height: 26px;

					margin-left: -13px;

					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;

					background: rgb(210,210,210);
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyZDJkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZiZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  rgba(210,210,210,1) 0%, rgba(251,251,251,1) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,210,210,1)), color-stop(100%,rgba(251,251,251,1)));
					background: -webkit-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(251,251,251,1) 100%);
					background: -o-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(251,251,251,1) 100%);
					background: -ms-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(251,251,251,1) 100%);
					background: linear-gradient(to bottom,  rgba(210,210,210,1) 0%,rgba(251,251,251,1) 100%);

					border: 1px solid #FFF;

					-moz-box-shadow:    0px 0px 5px 0px #000;
					-webkit-box-shadow: 0px 0px 5px 0px #000;
					box-shadow:         0px 0px 5px 0px #000;
				}
				.OjSwitch > .wrapper > .psuedoInput .slider .suffix {
					display: inline-block;

					width: 50%;
					height: 100%;
				}