/* Standard HTML Element Styles */
*, *:before, *:after {
    position: relative;

    margin: 0px;
    padding: 0px;

    box-sizing: inherit;
}
*:focus {
    outline: none;
}

html, body {
    width: 100%;
    min-width: 100%;

    height: 100%;
    min-height: 100%;

    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    background: transparent;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    vertical-align: top;

    z-index: -1;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body:hover,
body.is-mobile, body.is-tablet {
    z-index: 0;
}

/* Utility Styles */
.hidden {
    display: none !important;

    z-index: -99999 !important;
}

.no-select, html, body {
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;

    cursor: default;
}


/* Horizontal Align Styles */
[h-align="l"] {
    text-align: left;
}

[h-align="c"] {
    text-align: center;
}

[h-align="r"] {
    text-align: right;
}


/* Vertical Align Styles */
[v-align="t"] {
    vertical-align: top;
}

[v-align="m"] {
    vertical-align: middle;
}

[v-align="b"] {
    vertical-align: bottom;
}

[v-align]:after {
    width: 0px;
    height: 100% !important;

    content: "";
}

[v-align="t"] > *,
[v-align="t"] > .OjComponent,
[v-align="t"]:after {
    vertical-align: top !important;
}

[v-align="m"] > *,
[v-align="m"] > .OjComponent,
[v-align="m"]:after {
    vertical-align: middle !important;
}

[v-align="b"] > *,
[v-align="b"] > .OjComponent,
[v-align="b"]:after {
    vertical-align: bottom !important;
}

[v-align] > span,
[v-align]:after {
    display: inline-block;
}


/* FlexBox CSS */
[flex],
.OjComponent[flex] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

[flex-h],
.OjComponent[flex-h] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

[flex-v],
.OjComponent[flex-v] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}


/* ClearFix For Modern Browsers */
.cf:BEFORE,
.cf:AFTER {
    content: "";
    display: table;
}

.cf:AFTER {
    clear: both;
}


/* ClearFix For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}

a, blockquote, label, p, pre {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    cursor: text;
}


/* CSS Table Styles */
.table {
    display: table;
}
.table .row {
    display: table-row;
}
.table .cell {
    display: table-cell;
}

/* misc helper styles */
.fill-horz {
    width: 100%;
}
.fill-vert {
    height: 100%;
}

/* Smooth Scrolling */
.smooth-scroll {
    -ms-overflow-style: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.smooth-scroll-x {
    -ms-overflow-style: none;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.smooth-scroll-y {
    -ms-overflow-style: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* OJ Styles */
.OJ.OjComponent,
.OJ > .container {
    display: block;

    width: 100%;
    height: 100%;

    z-index: 1;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}
    .OJ > .container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        justify-content: center;
        -webkit-justify-content: center;
    }

    .OJ > .renderer {
        position: absolute;

        top: -99999px;
        left: -99999px;

        width: 100%;
        height: 100%;
    }
