.OjInput {
    max-width: 100%;
	width: 100%;
    min-height: 38px;

    margin: 0px 0px 10px;

    background: none;

	border: 1px solid #BBBBBB;

    font-size: 0px;
    line-height: 0px;

	clear: both;

    overflow: hidden;
}
.OjInput .wrapper {
	display: table;

	width: 100%;
	height: 100%;

    background: #F7F7F7;

	vertical-align: middle;
}
.OjInput .wrapper:hover {
    border-color: #AAAAAA;
}
.OjInput.error .wrapper,
.OjInput.error .wrapper:hover {
	/*background-color: #FEF5F1;*/

	border-color: #ED541D;
}
	.OjInput .wrapper > * {
		display: table-cell;

		height: 26px;

		margin: 0px;
		padding: 0px;

		background: none repeat scroll 0 0 transparent;

		color: #000000;
		font-size: 16px;
		font-weight: bold;
		line-height: normal;

		vertical-align: top;

		white-space: nowrap;
	}
	.OjInput > .wrapper > .lbl {
		padding: 6px 10px 0px;
	}
	.OjInput.error > .wrapper > .lbl {
		color: #CC0000;
		font-weight: bold;
	}
	.OjInput.no-label > .wrapper > .lbl {
		display: none;

		padding: 0px;
	}

	.OjInput .psuedoInput {
		width: 100%;
		height: 100%;

		min-width: 1px;
		min-height: 26px;

		padding: 3px 5px;

		color: #333333;
	}

		.OjInput .stem {
			display: block;

			height: 100%;

			min-width: 10px;
			min-height: 26px;

			margin: 0px 5px;
		}
			.OjInput .input {
				display: block;
				position: absolute;

				top: 0px;
				left: 0px;

				width: 100%;
				height: 100%;

				margin: 0px;
				padding: 0px;

				background: none;
				border: none;

				color: #385487;
				font-size: 16px;
				line-height: 26px;

				z-index: 1;
			}

			.OjInput .dflt {
				position: absolute;

				top: 0px;
				left: 0px;
				right: 0px;
				height: 100%;

				color: #CCC;

				z-index: 3;

				overflow: hidden;
			}
			.OjInput.no-default .dflt {
				height: 0px;
			}

            .OjInput .psuedoInput .notes {
                display: block;

                padding: 5px 0px 0px;

                color: #AAA;
                font-size: 10px;
                font-weight: normal;
                font-style: italic;

                white-space: normal;
            }

.OjInput.grey .wrapper,
.OjInput.grey .wrapper:hover,
.OjInput.grey.focus .wrapper,
.OjInput.grey.focus .wrapper:hover {
    background: #F0F0F0;
    border-color: #E6E6E6;

	padding: 0px 5px;
}
	.OjInput.grey .wrapper > * {
		padding: 0px;
	}
	.OjInput.grey > .wrapper > .label {
		padding-right: 5px;
	}