.OjValue {

}
    .OjValue > .wrapper {
        display: table-row;
    }
        .OjValue > .wrapper > .label {
            display: table-cell;
        }
        .OjValue > .wrapper > .value {
            display: table-cell;
            padding-left: 10px;
        }