
/* Standard HTML Element Styles */
* {
	position: relative;

	margin: 0px;
	padding: 0px;

	vertical-align: top;
}
*:focus {
	outline: none;
}

html, body {
	width: 100%;
	min-width: 100%;

	height: 100%;
	min-height: 100%;

	margin: 0px;
	padding: 0px;

	background: transparent;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 0px;
	text-align: left;
	vertical-align: top;

	z-index: -1;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body:hover,
body.is-mobile, body.is-tablet {
	z-index: 0;
}

/* Utility Styles */
.hidden {
	display: none !important;

	z-index: -99999 !important;
}

.no-select, html, body {
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}


/* Horizontal Align Styles */
[h-align="l"] {
	text-align: left;
}

[h-align="c"] {
	text-align: center;
}

[h-align="r"] {
	text-align: right;
}


/* Vertical Align Styles */
[v-align="t"] {
	vertical-align: top;
}

[v-align="m"] {
	vertical-align: middle;
}

[v-align="b"] {
	vertical-align: bottom;
}

[v-align]:after {
	width: 0px;
	height: 100% !important;

	content: "";
}

[v-align="t"] > *,
[v-align="t"] > .OjComponent,
[v-align="t"]:after {
	vertical-align: top !important;
}

[v-align="m"] > *,
[v-align="m"] > .OjComponent,
[v-align="m"]:after {
	vertical-align: middle !important;
}

[v-align="b"] > *,
[v-align="b"] > .OjComponent,
[v-align="b"]:after {
	vertical-align: bottom !important;
}

[v-align] > span,
[v-align]:after {
	display: inline-block;
}

.flexbox,
.OjComponent.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


/* ClearFix For Modern Browsers */
.cf:BEFORE,
.cf:AFTER {
	content: "";
	display: table;
}

.cf:AFTER {
	clear: both;
}


/* ClearFix For IE 6/7 (trigger hasLayout) */
.cf {
	zoom: 1;
}

p, span {
    line-height: normal;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


/* CSS Table Styles */
.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
}

/* misc helper styles */
.fill-horz {
	width: 100%;
}
.fill-vert {
	height: 100%;
}

/* Smooth Scrolling */
.smooth-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.smooth-scroll-x {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.smooth-scroll-y {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* OJ Styles */
.OJ.OjComponent,
.OJ > .container {
	display: block;

	width: 100%;
	height: 100%;

	z-index: 1;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}
	.OJ > .container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		justify-content: center;
		-webkit-justify-content: center;
	}

	.OJ > .renderer {
		position: absolute;

		top: -99999px;
		left: -99999px;

		width: 100%;
		height: 100%;
	}
.OjComponent {
	display: inline-block;

	line-height: 0px;

	text-align: left;
	vertical-align: top;

	z-index: 1;
}
.OjComponent.disabled {
    opacity: 0.8;
}.OjSpinner {
	width: 30px;
	height: 30px;
}

.OjSpinner > .wrapper {
    width: 100%;
	height: 100%;
}

.OjSpinner .blade {
	position: absolute;

	top: 50%;
	left: 50%;

	width: 25%;
	height: 10%;

	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;

	-webkit-border-radius: 40%;
	-moz-border-radius: 40%;
	border-radius: 40%;

	background: #FFF;
}.OjMedia {
	display: inline-block;

	text-align: center;

	vertical-align: middle;

	overflow: hidden;
}
/* prevents height rendering issue */
.OjMedia.is-loaded[v-align]:after {
	display: none;
}
	.OjMedia .OjSpinner {
		position: absolute;

		top: 50%;
		left: 50%;

		margin: -15px 0px 0px -15px;
	}
	.OjMedia .media {
        display: inline-block;
		border: none;
	}

.OjImage {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: auto;
}
.OjImage.fill {
	background-size: cover;
}
.OjImage.fit {
	background-size: contain;
}
.OjImage.hFill {
	background-size: auto 100%;
}
.OjImage.wFill {
	background-size: 100% auto;
}

/* left alignments */
.OjImage[h-align="l"][v-align="m"] {
	background-position: left center;
}
.OjImage[h-align="l"][v-align="b"] {
	background-position: left bottom;
}

/* center alignments */
.OjImage[h-align="c"][v-align="t"] {
	background-position: center top;
}
.OjImage[h-align="c"][v-align="m"] {
	background-position: center center;
}
.OjImage[h-align="c"][v-align="b"] {
	background-position: center bottom;
}

/*right alignments */
.OjImage[h-align="r"][v-align="t"] {
	background-position: right top;
}
.OjImage[h-align="r"][v-align="m"] {
	background-position: right center;
}
.OjImage[h-align="r"][v-align="b"] {
	background-position: right bottom;
}



.OjImage[h-align="c"] > .media {
	margin: 0px auto;
}

.arrow-up, .OjImage > .media.arrow-up,
.arrow-left, .OjImage > .media.arrow-left,
.arrow-down, .OjImage > .media.arrow-down,
.arrow-right, .OjImage > .media.arrow-right {
	display: inline-block;

	transform:rotate(45deg);
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
	-o-transform:rotate(45deg); /* Opera */
	-ms-transform:rotate(45deg); /* IE 9 */
}
.arrow-left, .OjImage > .media.arrow-left {
	transform:rotate(315deg);
	-moz-transform:rotate(315deg); /* Firefox */
	-webkit-transform:rotate(315deg); /* Safari and Chrome */
	-o-transform:rotate(315deg); /* Opera */
	-ms-transform:rotate(315deg); /* IE 9 */
}
.arrow-bottom, .OjImage > .media.arrow-bottom {
	transform:rotate(225deg);
	-moz-transform:rotate(225deg); /* Firefox */
	-webkit-transform:rotate(225deg); /* Safari and Chrome */
	-o-transform:rotate(225deg); /* Opera */
	-ms-transform:rotate(225deg); /* IE 9 */
}
.arrow-right, .OjImage > .media.arrow-right {
	transform:rotate(135deg);
	-moz-transform:rotate(135deg); /* Firefox */
	-webkit-transform:rotate(135deg); /* Safari and Chrome */
	-o-transform:rotate(135deg); /* Opera */
	-ms-transform:rotate(135deg); /* IE 9 */
}

.arrow-up, .OjImage > .media.arrow-up,
.arrow-left, .OjImage > .media.arrow-left,
.arrow-down, .OjImage > .media.arrow-down,
.arrow-right, .OjImage > .media.arrow-right {
	width: 7px;
	height: 7px;

	border-top: 3px solid #777777;
	border-left: 3px solid #777777;
}.OjOverlay {
	position: absolute;

	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	background: #000;
	background: rgba(0, 0, 0, .25);

	text-align: center;

	z-index: 999999;
}

	.OjOverlay .box {
		display: inline-block;

		min-width: 100px;
		min-height: 100px;

		padding: 10px;

		background: #000;
		background: rgba(0, 0, 0, .6);

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

		.OjOverlay .box .icon {
			margin: 20px 0px;

			text-align: center;
		}

		.OjOverlay .box .message {
			display: block;

			margin: 10px 0px;

			color: #FFF;
			font-size: 18px;
			text-align: center;
		}.OjView {
	display: block;

	overflow: auto;
}
.OjView.loading {
	overflow: hidden;
}.OjIframe {
	margin: 0px;
	padding: 0px;

	border: none;
}.OjImageViewer {
	text-align: center;
}.OjLabel {
	line-height: normal;

	text-overflow: ellipsis;
	overflow: hidden;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}.flow-nav-controller {
	display: block;

	height: 40px;

	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #2c2c2c 50%, #000000 51%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#2c2c2c 50%,#000000 51%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#2c2c2c 50%,#000000 51%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#2c2c2c 50%,#000000 51%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#2c2c2c 50%,#000000 51%,#131313 100%); /* W3C */

	overflow: hidden;
}
	.flow-nav-controller > .top,
	.flow-nav-controller > .bottom {
		position: absolute;

		top: 0px;
		left: 0px;
        bottom: 0px;
        right: 0px;

		z-index: 1;
	}

	.flow-nav-controller > * > .left,
	.flow-nav-controller > * > .title,
	.flow-nav-controller > * > .right {
		position: absolute;

        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 80%;

		padding: 0px;

		text-align: left;

		z-index: 3;
	}
	.flow-nav-controller > * > .title {
        left: 20%;
        right: 20%;

        padding: 0px 10px;

		color: #FFFFFF;
		font-size: 16px;
		text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
	}
        .flow-nav-controller > * > .title > * {
            width: 100%;
            height: 100%;

            text-align: center;
        }

	.flow-nav-controller > * > .right {
        left: 80%;
        right: 0px;

        padding: 0px;

		text-align: right;
	}
.OjStack {
	display: block;

	overflow: visible;
}
.OjStack.animating {
	overflow: hidden;
	-webkit-overflow-scrolling: hidden;
}

	.OjStack > * {
		position: relative;

		z-index: 1;
	}
	.OjStack.animating > * {
		position: absolute;

		top: 0px;
		left: 0px;

		width: 100%;
		height: 100%;

		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.OjStack.animating > *.prev-active {
		z-index: 3;
	}.OjLink {
	cursor: pointer;
	line-height: normal;

	overflow: hidden;
	text-overflow: ellipsis;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
	.OjLink > .label {
		display: inline-block;
	}

	.OjLink > .icon {
		display: inline-block;

		vertical-align: middle;
	}.OjButton {
    padding: 2px 10px;

	background: #ADB2B8; /* Old browsers */
	background: -moz-linear-gradient(top, #888888 0%, #AAAAAA 4%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888888), color-stop(4%, #AAAAAA), color-stop(100%, #666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #888888 0%, #ABB0B7 4%, #6C7681 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #888888 0%, #AAAAAA 4%, #666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #888888 0%, #AAAAAA 4%, #666666 100%); /* IE10+ */
	background: linear-gradient(top, #AEB3B9 0%, #6A737E 100%); /* W3C */

	border: 1px solid #4C4E50;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-moz-box-shadow:    0px 1px 0px 0px #DDDDDD;
	-webkit-box-shadow: 0px 1px 0px 0px #DDDDDD;
	box-shadow:         0px 1px 0px 0px #DDDDDD;

	font-size: 0px;
	line-height: 0px;
	text-decoration: none;
	text-align: center;

	cursor: pointer;
}
.OjButton:hover {
	text-decoration: none;
}
.OjButton.disabled {
	cursor: not-allowed;
}
	.OjButton .lbl {
		font-size: 12px;
        line-height: normal;

		vertical-align: middle;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


/* Image Button CSS */
.OjButton.OjImageButton {
	width: auto;
	height: auto;

	padding: 0px;

	background: none;

	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}.WindowManager {
    position: fixed;

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    overflow: hidden;

    z-index: 9999;
}

.OjAlert {
	position: absolute;

	top: 0px;
	left: 0px;

	max-width: 100%;
    min-width: 100%;

    max-height: 100%;
    min-height: 100%;

	margin: 0px;
	padding: 0px;

	background: none;

	overflow: auto;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}
	.OjAlert > .underlay {
		 position: fixed;

		 top: 0px;
		 left: 0px;
         bottom: 0px;
         right: 0px;

		 margin: 0px;
		 padding: 0px;

		 background: #000000;

		 opacity: 0.3;

		 z-index: 1;
	 }

	.OjAlert > .pane {
		max-width: 100%;
        max-height: 100%;

		background: #0b1b44;
		border: none;

		z-index: 5;
	}
		.OjAlert > .pane > .bar {
			height: 3px;
			padding: 15px 10px 10px;

			background: #858b9d; /* Old browsers */

			color: #FFFFFF;
			font-size: 18px;
			font-weight: bold;
			text-align: center;

			overflow: visible;
		}
		.OjAlert > .pane > .content {
			display: block;

			padding: 20px 10px 10px;

			color: #FFFFFF;
			font-size: 16px;
			text-align: center;
		}
		.OjAlert.no-buttons > .pane > .content {
			padding-bottom: 10px;
		}
            .OjAlert > .pane > .content > .OjLabel {
                text-align: center;
            }

		.OjAlert > .pane > .buttons {
			padding: 10px 0px 20px;

			text-align: center;
		}
			.OjAlert > .pane > .buttons > * {
				margin: 0px 5px;
			}
				.OjAlert > .pane > .buttons .OjButton {
					height: 23px;

					padding: 2px 10px;

					background: #ADB2B8; /* Old browsers */

					border: 1px solid #4C4E50;

					-moz-box-shadow:    0px 1px 0px 0px #DDDDDD;
					-webkit-box-shadow: 0px 1px 0px 0px #DDDDDD;
					box-shadow:         0px 1px 0px 0px #DDDDDD;

					font-size: 0px;
					line-height: 0px;
					text-decoration: none;
					text-align: center;
				}.OjModal {}
	.OjModal > .pane {
		min-width: 300px;
		min-height: 100px;
		max-width: 100% !important;
		max-height: 100% !important;

		background: #EEE;

		border: none;
	}
	.is-mobile .OjModal > .pane,
    .OjModal.fullscreen > .pane {
		width: 100% !important;
		height: 100% !important;
	}
		.OjModal > .pane > .bar {
			position: absolute;

			top: 0px;
			left: 0px;
			right: 0px;

			height: 40px;

			margin: 0px;
			padding: 0px;

			background: #BBBBBB; /* Old browsers */

			border: none;
			border-bottom: 1px solid #9A9A9A;

			text-align: center;

            overflow: hidden;
		}
        .is-ios .OjModal.fullscreen > .pane > .bar {
            height: 65px;
        }
            .is-ios .OjModal.fullscreen > .pane > .bar .bottom,
            .is-ios .OjModal.fullscreen > .pane > .bar .top {
                top: 20px;
            }

			.OjModal > .pane > .bar .title {
				color: #444444;
				font-size: 20px;
				font-weight: bold;
				text-shadow: 1px 1px 1px #DDDDDD;
				text-align: center;
			}

		.OjModal > .pane > .content {
			position: absolute;

			top: 41px;
			left: 0px;
			right: 0px;
			bottom: 40px;

			margin: 0px;
			padding: 0px;

			background: none;

			border: none;

			text-shadow: none;

			overflow: hidden;
		}
        .is-ios .OjModal.fullscreen > .pane > .content {
            top: 66px;
        }
		.OjModal.no-buttons > .pane > .content {
			bottom: 0px;
		}
		.is-mobile .OjModal.browser > .pane > .content,
		.is-tablet .OjModal.browser > .pane > .content {
			overflow: auto;

			-webkit-overflow-scrolling: touch;
		}

		.OjModal > .pane > .buttons {
			position: absolute;

			bottom: 40px;
			left: 0px;
			right: 0px;

			height: 40px;

			text-align: center;
		}
		.OjModal.no-buttons > .pane > .buttons {
			display: none;
		}
			.OjModal > .window > .pane > .buttons > * {
				margin: 0px 50px;
			}.OjList {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.OjList.hoz {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.OjList.vert {
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.OjListItem .content {
    line-height: normal;
}.OjItemEditor {
    
}
    .OjItemEditor > .holder {
        z-index: 1;
    }
    .OjItemEditor > .actions {
        display: none;

        position: absolute;

        top: 0px;
        bottom: 0px;
        right: 0px;

        z-index: 3;
    }
    .OjItemEditor:HOVER > .actions,
    .OjItemEditor.edit > .actions {
        display: block;
    }
        .OjItemEditor > .actions > * {
            margin: 0px 0px 0px 10px;
        }.OjFieldset {
	width: 100%;
}
.OjFieldset.animating,
.OjFieldset.collapsed {
	overflow: hidden;
}

	.OjFieldset.collapsed > .container {
		display: none;
	}
	.OjFieldset.collapsed.animating > .container {
		display: block;
	}

	.OjFieldset > .actuator {
		position: absolute;

		top: 0px;
		right: 0px;
	}.OjOption {
	padding: 3px 10px;

	cursor: pointer;
}
	.OjOption .indicator {
		display: block;
		position: absolute;

		height: 0px;

		left: -50px;

		overflow: hidden;
	}
	.OjCheckedOption .indicator,
	.OjRadioOption .indicator {
		display: inline-block;

		position: relative;

		height: auto;

		left: auto;

		margin-right: 5px;

		overflow:visible;
	}

    .OjCheckedOption .indicator input,
    .OjRadioOption .indicator input {
        position: relative;

        top: auto;
        left: auto;

        width: auto;
        height: auto;
    }

	.OjOption .OjItemRenderer {
		display: block;
	}
	.OjCheckedOption .OjItemRenderer,
	.OjRadioOption .OjItemRenderer {
		display: inline-block;
	}
		.OjOption .OjItemRenderer .OjItemRenderer {
			padding: 0px;

			border: none;
		}.OjInput {
    max-width: 100%;
	width: 100%;
    min-height: 38px;

    margin: 0px 0px 10px;

    background: none;

	border: 1px solid #BBBBBB;
	border-top-color: #AAAAAA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow:    0px 1px 0px 0px #FFFFFF;
	-webkit-box-shadow: 0px 1px 0px 0px #FFFFFF;
	box-shadow:         0px 1px 0px 0px #FFFFFF;

    font-size: 0px;
    line-height: 0px;

	clear: both;

    overflow: hidden;
}
.OjInput .wrapper {
	display: table;

	width: 100%;
	height: 100%;

    background: #F7F7F7;

	vertical-align: middle;

	-moz-box-shadow:    inset 0px 1px 0px 0px #DDDDDD;
	-webkit-box-shadow: inset 0px 1px 0px 0px #DDDDDD;
	box-shadow:         inset 0px 1px 0px 0px #DDDDDD;
}
.OjInput .wrapper:hover {
    border-color: #AAAAAA;
}
.OjInput.error .wrapper,
.OjInput.error .wrapper:hover {
	/*background-color: #FEF5F1;*/

	border-color: #ED541D;
}
	.OjInput .wrapper > * {
		display: table-cell;

		height: 26px;

		margin: 0px;
		padding: 0px;

		background: none repeat scroll 0 0 transparent;

		color: #000000;
		font-size: 16px;
		font-weight: bold;
		line-height: normal;

		vertical-align: top;

		white-space: nowrap;
	}
	.OjInput > .wrapper > .label {
		padding: 6px 10px 0px;
	}
	.OjInput.error > .wrapper > .label {
		color: #CC0000;
		font-weight: bold;
	}
	.OjInput.no-label > .wrapper > .label {
		display: none;

		padding: 0px;
	}

	.OjInput .psuedoInput {
		width: 100%;
		height: 100%;

		min-width: 1px;
		min-height: 26px;

		padding: 3px 5px;

		color: #333333;
	}

		.OjInput .stem {
			display: block;

			height: 100%;

			min-width: 10px;
			min-height: 26px;

			margin: 0px 5px;
		}
			.OjInput .input {
				display: block;
				position: absolute;

				top: 0px;
				left: 0px;

				width: 100%;
				height: 100%;

				margin: 0px;
				padding: 0px;

				background: none;
				border: none;

				color: #385487;
				font-size: 16px;
				line-height: 26px;

				z-index: 1;
			}

			.OjInput .dflt {
				position: absolute;

				top: 0px;
				left: 0px;
				right: 0px;
				height: 100%;

				color: #CCC;

				z-index: 3;

				overflow: hidden;
			}
			.OjInput.no-default .dflt {
				height: 0px;
			}

            .OjInput .psuedoInput .notes {
                display: block;

                padding: 5px 0px 0px;

                color: #AAA;
                font-size: 10px;
                font-weight: normal;
                font-style: italic;

                white-space: normal;
            }

.OjInput.grey .wrapper,
.OjInput.grey .wrapper:hover,
.OjInput.grey.focus .wrapper,
.OjInput.grey.focus .wrapper:hover {
    background: #F0F0F0;
    border-color: #E6E6E6;

	padding: 0px 5px;
}
	.OjInput.grey .wrapper > * {
		padding: 0px;
	}
	.OjInput.grey > .wrapper > .label {
		padding-right: 5px;
	}.OjComboBox {}
    .OjComboBox > .wrapper > .psuedoInput .OjButton {
        display: inline-block;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        background: #FFFFFF;
        border: none;

        z-index: 3;
    }
    .OjComboBox > .wrapper > .psuedoInput > .stem {
        margin: 0px;
        padding: 0px;
    }
        .OjComboBox > .wrapper > .psuedoInput .value {
            color: #333333;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-align: left;
        }

    /*.OjComboBox > .wrapper > .psuedoInput > .OjList {*/
        /*display: none;*/

        /*position: absolute;*/

        /*top: 100%;*/
        /*left: 0px;*/

        /*width: 100%;*/
        /*max-height: 300px;*/

        /*margin: 0px -1px;*/
        /*padding: 0px;*/

        /*background: #FFFFFF;*/

        /*border: 1px solid #CCCCCC;*/
        /*border-top: none;*/
        /*-webkit-border-bottom-right-radius: 5px;*/
        /*-webkit-border-bottom-left-radius: 5px;*/
        /*-moz-border-radius-bottomright: 5px;*/
        /*-moz-border-radius-bottomleft: 5px;*/
        /*border-bottom-right-radius: 5px;*/
        /*border-bottom-left-radius: 5px;*/

        /*-moz-box-shadow:    0px 6px 9px 0px #AAAAAA;*/
        /*-webkit-box-shadow: 0px 6px 9px 0px #AAAAAA;*/
        /*box-shadow:         0px 6px 9px 0px #AAAAAA;*/

        /*font-size: 14px;*/
        /*line-height: normal;*/

        /*z-index: 5;*/

        /*overflow: auto;*/
    /*}*/
    /*.OjComboBox > .input-wrapper:hover > .input-wrapper-inner > .input-holder > .OjList {*/
        /*border-color: #AAAAAA;*/
    /*}*/
        /*.OjComboBox > .input-wrapper > .input-wrapper-inner > .input-holder > .OjList > .items {*/

        /*}*/
            /*.OjComboBox > .input-wrapper > .input-wrapper-inner > .input-holder > .OjList > .items > .item {*/
                /*padding: 5px 10px;*/
            /*}*/
            /*.OjComboBox > .input-wrapper > .input-wrapper-inner > .input-holder > .OjList > .items > .item.first {*/
                /*padding-top: 7px;*/
            /*}*/
            /*.OjComboBox > .input-wrapper > .input-wrapper-inner > .input-holder > .OjList > .items > .item.last {*/
                /*padding-bottom: 7px;*/
            /*}*/
            /*.OjComboBox > .input-wrapper > .input-wrapper-inner > .input-holder > .OjList > .items > .item:hover {*/
                /*background: #EEEEEE;*/
            /*}*/

    .OjComboBox .disclosure {
        position: absolute;

        top: 50%;
        right: 10px;

        width: 0px;
        height: 0px;

		margin-top: -2px;

        border-top: 5px solid #999999;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    .OjComboBox:hover .disclosure {
        border-top-color: #666666;
    }

/* Grey Color Scheme */
.OjComboBox.grey .disclosure {
	right: 5px;
}
/*.OjComboBox.grey > .wrapper > .input-holder > .OjList {*/
    /*background: #F0F0F0;*/
    /*border: #E6E6E6;*/
/*}*/.OjValue {

}
    .OjValue > .wrapper {
        display: table-row;
    }
        .OjValue > .wrapper > .label {
            display: table-cell;
        }
        .OjValue > .wrapper > .value {
            display: table-cell;
            padding-left: 10px;
        }.OjFilterBox {

}
	.OjFilterBox > .input-wrapper  > .input-wrapper-inner > .input-holder .value.OjTextInput {
		margin: 0px;
		padding: 0px;
	}
		.OjFilterBox > .input-wrapper > .input-wrapper-inner > .input-holder .value.OjTextInput > .input-wrapper {
			margin: 0px;
			padding: 0px;

			border: none;
			background: none;
		}
			.OjFilterBox > .input-wrapper > .input-wrapper-inner > .input-holder .value.OjTextInput > .input-wrapper label,
			.OjFilterBox > .input-wrapper > .input-wrapper-inner > .input-holder .value.OjTextInput > .input-wrapper .input {
				margin: 0px;
				padding: 0px;
			}.OjSelector {
	height: auto;
	min-height: 28px;

	border: none;

	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

	.OjSelector > .wrapper {
		width: 100%;
		height: 100%;

		background: none;

		border: none;

		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;

		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
	}
		.OjSelector > .wrapper > .psuedoInput {
			padding: 0px;
			margin: 0px;
		}
			.OjSelector > .wrapper > .psuedoInput > .stem {
				margin: 0px;
			}
				.OjSelector > .wrapper > .psuedoInput > .stem > .input {
					position: relative;

					top: auto;
					left: auto;

					width: auto;
					height: auto;
				}
					.OjSelector > .wrapper > .psuedoInput > .stem > .input > .items {
						background: none;
						border: none;

						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
					}
						.OjSelector > .wrapper > .psuedoInput > .stem > .input > .items > .OjItemRenderer {
							padding: 5px 0px;
						}

.OjSelector .options {
	white-space: normal;
}.OjSwitch.OjInput {
    width: 50px;
	height: 30px;
    min-height: 30px;
	background: none;
	border: none;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}
	.OjSwitch.OjInput > .wrapper {
		background: none;
		border: none;

		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;

		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
	}
		.OjSwitch.OjInput > .wrapper > .psuedoInput {
            background: transparent;

			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;

            border: 2px solid;
		}
        .OjSwitch.OjInput.off > .wrapper > .psuedoInput {
            border-color: #DDD
        }
        .OjSwitch.OjInput.on > .wrapper > .psuedoInput {
            border-color: #22c064
        }
			.OjSwitch > .wrapper > .psuedoInput .slider {
				display: block;
				position: absolute;

				top: 0px;
                left: 0px;

				width: 100%;
				height: 100%;

				overflow: visible;
			}
				.OjSwitch > .wrapper > .psuedoInput .slider .prefix,
                .OjSwitch > .wrapper > .psuedoInput .slider .suffix{
					display: inline-block;

					width: 50%;
					height: 100%;

                    border-radius: 11px;

                    border: none;

                    z-index: 1;
				}
                .OjSwitch > .wrapper > .psuedoInput .slider .prefix {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                .OjSwitch > .wrapper > .psuedoInput .slider .suffix {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }

                .OjSwitch.off > .wrapper > .psuedoInput .slider .prefix,
                .OjSwitch.off > .wrapper > .psuedoInput .slider .suffix {
                    background: transparent;
                }
                .OjSwitch.on > .wrapper > .psuedoInput .slider .prefix,
                .OjSwitch.on > .wrapper > .psuedoInput .slider .suffix {
                    background: #22c064;
                }

				.OjSwitch > .wrapper > .psuedoInput .slider .stem {
					position: absolute;

					display: block;

					top: 0px;

					width: 26px;
					height: 26px;
                    min-height: 26px;

                    margin: 0px;

					border-radius: 50%;

					/*background: rgb(210,210,210);*/
					/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyZDJkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZiZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
					/*background: -moz-linear-gradient(top,  rgba(210,210,210,1) 0%, rgba(251,251,251,1) 100%);*/
					/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,210,210,1)), color-stop(100%,rgba(251,251,251,1)));*/
					/*background: -webkit-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(251,251,251,1) 100%);*/
					/*background: -o-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(251,251,251,1) 100%);*/
					/*background: -ms-linear-gradient(top,  rgba(210,210,210,1) 0%,rgba(251,251,251,1) 100%);*/
					/*background: linear-gradient(to bottom,  rgba(210,210,210,1) 0%,rgba(251,251,251,1) 100%);*/
                    background: #FFF;

					-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, .3);
					-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
					box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, .3);

                    z-index: 3;
				}
                .OjSwitch.off > .wrapper > .psuedoInput .slider .stem {
                    left: 0px;
                    right: auto;
                }
                .OjSwitch.on > .wrapper > .psuedoInput .slider .stem {
                    left: auto;
                    right: 0px;
                }.OjTextArea .psuedoInput {
	display: block;

	width: auto;
}
	.OjTextArea .label,
	.OjTextArea .psuedoInput {
		display: block;

		padding: 0px;
	}
	.OjTextArea .label {
		padding: 5px 0px;
	}
		.OjTextArea .input {
			display: block;

			width: 100%;
			height: 100%;

			min-width: 100px;
			min-height: 26px;

			margin: 0px;
			padding: 0px;

			background: none;
			border: none;

			color: #333333;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 16px;
			line-height: 26px;

			resize: none;
		}
		.OjTextArea.focus .input {
			color: #111111;
		}.OjTokenInput {}
	.OjTokenInput > .input-wrapper > .input-wrapper-inner > .input-holder {
		padding: 5px;
	}
		.OjTokenInput > .input-wrapper > .input-wrapper-inner > .input-holder .input-holder-inner > .filter {
			margin: 0px;
		}
			.OjTokenInput > .input-wrapper > .input-wrapper-inner > .input-holder .input-holder-inner > .filter > .input-wrapper > .input-wrapper-inner {
				width: 100%;
			}
				.OjTokenInput > .input-wrapper > .input-wrapper-inner > .input-holder .input-holder-inner > .filter .input-holder {
					padding: 0px 5px;
				}


	.OjTokenInput > .input-wrapper > .value {
		margin: -5px 0px 5px;

		white-space: normal;
	}
		.OjTokenInput > .input-wrapper > .value > .items > * {
			display: block;

			float: left;

			margin: 5px 0px 0px 5px;
			padding: 5px;

			font-size: 14px;
			line-height: normal;
		}

.OjToken {
	display: inline-block;

	margin-right: 5px;
	padding: 0px 5px;

	background: #BBC8E6;
	border: 1px solid #BBC8E6;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	white-space: nowrap;
}
.OjToken.first {
	/*margin-left: 0px;*/
}
	.OjToken .item {
		display: inline-block;

		max-width: 165px;

		color: #FFFFFF;

		overflow: hidden;

		vertical-align: middle;
	}

	.OjToken .remove-btn {
		display: inline-block;

		width: 15px;
		height: 15px;

		margin: 0px 0px 0px 10px;
		padding: 0px;

		background: #FFFFFF;
		border: #FFFFFF;

		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;

		vertical-align: middle;
	}
		.OjToken .remove-btn .label {
			color: #BBC8E6;
			font-size: 10px;
			font-weight: bold;

			vertical-align: middle;
		}.OjMenu {
	position: absolute;

	top: 0px;
	left: 0px;

	margin: 0px;
	padding: 1px;

	background: #FFF;

	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .2);

	z-index: 999;
}

.OjMenu .OjView,
.OjMenu .OjList.items, .OjMenu .OjList > .items
.OjMenu .OjStack {
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.OjMenu > * {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}.OjNavController {
	height: 50px;

	background: #171717;

	text-align: center;
}
	.OjNavController .OjButton {
		margin: 2px 0px;
		padding: 0px;

		background: #5d5d5d;

		border-color: #343434;

		vertical-align: middle;
	}

.OjTabNavController {}
    .OjTabNavController > .OjButton {
        max-width: 140px;
        height: 46px;

        padding: 0px 20px;

        background: none;
        border: none;

        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;

        text-align: center;
    }
    .OjTabNavController > .OjButton.active {
        background: rgba(255, 255, 255, 0.15);
    }

        .OjTabNavController > .OjButton > .icon {
            width: 30px;
            height: 30px;

            margin: 0px;
            padding: 1px 0px;
        }

        .OjTabNavController > .OjButton > .label {
            display: block;

            margin: 0px;
            padding: 0px;

            color: #A8A8A8;
            font-size: 10px;
            font-weight: normal;
            text-align: center;
        }
        .OjTabNavController > .OjButton.active > .label {
            color: #FFF;
        }